<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VASI</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="static/design.css">
</head>
<body>

    <!-- header area -->
    <header id="header">
        <div class="row m-0">
            <div class="col-3 bgcolor-black">
                <nav class="primary-nav navbar-expand-md">
                    <div class="site-title text-center text-light py-5">
                        <a href="#" class="navbar-brand font-staat font-size-40">VASI</a>
                        <p class="description text-uppercase font-os">Vaibhav Singh</p>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="#home" class="nav-item nav-link text-white-50 font-os font-size-16 active">Home</a>
                        <a href="#about_me" class="nav-item nav-link text-white-50 font-os font-size-16 active">About</a>
                        <a href="#skills" class="nav-item nav-link text-white-50 font-os font-size-16 active">Skills</a>
                        <a href="#services" class="nav-item nav-link text-white-50 font-os font-size-16 active">Services</a>
                        <a href="#portfolio" class="nav-item nav-link text-white-50 font-os font-size-16 active">Portfolio</a>
                        <a href="#footer" class="nav-item nav-link text-white-50 font-os font-size-16 active">Contact Us</a>
                    </div>
                </nav>
            </div>
        </div>
        <button class="toggle-button"><span class="fas fa-bars fa-2x"></span></button>
        <div class="social">
            <span class="mr-3"><i class="fab fa-facebook-f"></i></span>
            <span class="mr-3"><i class="fab fa-twitter"></i></span>
            <span class="mr-3"><i class="fab fa-instagram"></i></span>
            <span class="mr-3"><i class="fab fa-youtube"></i></span>
        </div>
    </header>
    <!-- #header area -->

    <main id="site-main">
        <div class="row m-0">
            <div class="col-md-9 offset-md-3 px-0">

                <!-- site-banner area -->
                <section class="site-banner" id="home">
                    <div class="banner-area" style="background:url('static/images/bg.jpg');background-size: cover;width: 100%;height: 100vh;position: relative;">
                        <div class="author text-center">
                            <div class="author-img w3-image" style="background: url('static/images/profile1.jpeg');width:200px;height:200px;border-radius: 50%;margin: auto;background-size: 100%;background-position: 40% 0;"></div>
                            <h1 class="text-white font-staat font-size-40 text-uppercase py-3">Vaibhav Singh</h1>
                            <h5 class="text-white font-ram font-size-27">i'm <span id="typed"></span></h5>
                        </div>
                    </div>
                </section>
                <!-- #site-banner area -->

                <!-- about me area -->
                    <section class="about px-4 my-5" id="about_me">
                        <div class="me py-5">
                            <h5 class="text-uppercase font-os font-size-16 text-muted">information</h5>
                            <h1 class="text-uppercase font-staat font-size-34">About Me</h1>
                        </div>
                        <div class="row m-0">
                            <div class="col-sm-5 pl-0">
                                <img src="static/images/profile1.jpeg" alt="profile image" class="img-fluid">
                            </div>
                            <div class="col-sm-6">
                                <h6 class="text-uppercase font-os font-size-16 text-muted">About Me</h6>
                                <h5 class="font-ram font-size-20 py-2">I'm Vaibhav Singh & I am  <span id="typed_2"></span></h5>
                                <p class="font-ram text-black-50 py-2">
                                    Hi, My name is Vaibhav Singh. I am Programmer and Developer.
                                </p>
                                <div class="d-flex flex-row flex-wrap justify-content-between py-4">
                                    <div class="d-flex flex-column">
                                        <p class="font-ram"><b>Birthday: </b><span class="text-black-50">8 July 1999</span></p>
                                        <p class="font-ram"><b>Website: </b><span class="text-black-50">www.vaibhavport.com</span></p>
                                        <p class="font-ram"><b>Phone: </b><span class="text-black-50">+91 9554642920</span></p>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <p class="font-ram"><b>Degree: </b><span class="text-black-50">Bachelor of Technology in Computer Science</span></p>
                                        <p class="font-ram"><b>Mail: </b><span class="text-black-50">singhvaibhav715@gmail.com</span></p>
                                        <p class="font-ram"><b>Instagram: </b><span class="text-black-50">@singhvaibhav715</span></p>
                                    </div>
                                </div>
                                <button class="btn btn-dark text-uppercase mr-3">Hire ME</button>
                                <button class="btn btn-dark text-uppercase mr-3">Download CV</button>
                            </div>
                        </div>
                    </section>
                <!-- #about me area -->

                <!-- ability -->
                    <section class="skill px-4 py-5 bg-light" id="skills">
                        <div class="ability py-3">
                            <h5 class="text-uppercase font-os font-size-16 text-muted">Ability</h5>
                            <h1 class="text-uppercase font-staat font-size-34">My skills</h1>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 pl-4">
                                <p class="font-ram font-size-16 text-black-50 pb-3">
                                    I am a good learner and i have a Curiosity of learning new things which can boost my career and can help to get
                                    a better position in a well known organization.
                                </p>
                                <p class="font-ram font-size-16 text-black-50">
                                    During my study, I have learned a lot of new and effective skills like Artificial Intelligence and Machine learning. I have worked in the
                                    field of computer vision and deep learning as well. I have a great knowledge of Data Structures and algorithms.
                                </p>
                            </div>
                            <div class="col-sm-6 bars">
                                <div class="bar-1 mb-4">
                                    <div class="d-flex flex-row justify-content-between">
                                        <p class="font-ram font-size-16">Developer</p>
                                        <span class="font-ram font-size-16">90%</span>
                                    </div>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bgcolor-black" role="progressbar" style="width:90%"></div>
                                    </div>
                                </div>
                                <div class="bar-1 mb-4">
                                    <div class="d-flex flex-row justify-content-between">
                                        <p class="font-ram font-size-16">Algorithms</p>
                                        <span class="font-ram font-size-16">93%</span>
                                    </div>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bgcolor-black" role="progressbar" style="width:93%"></div>
                                    </div>
                                </div>
                                <div class="bar-1 mb-4">
                                    <div class="d-flex flex-row justify-content-between">
                                        <p class="font-ram font-size-16">Photoshop</p>
                                        <span class="font-ram font-size-16">80%</span>
                                    </div>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bgcolor-black" role="progressbar" style="width:80%"></div>
                                    </div>
                                </div>
                                <div class="bar-1 mb-4">
                                    <div class="d-flex flex-row justify-content-between">
                                        <p class="font-ram font-size-16">Computer Vision and Deep Learning</p>
                                        <span class="font-ram font-size-16">95%</span>
                                    </div>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bgcolor-black" role="progressbar" style="width:95%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                <!-- #ability -->

                <!-- services -->
                    <section class="services-area px-4 py-5" id="services">
                        <div class="do py-5">
                            <h5 class="text-uppercase font-os font-size-16 text-muted">What i Do</h5>
                            <h1 class="text-uppercase font-staat font-size-34">Services</h1>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 mb-4 text-center">
                                <div class="panel border p-4">
                                    <span class="icon text-secondary"><i class="fas fa-laptop fa-3x"></i></span>
                                    <h4 class="font-ram py-4">Web Design</h4>
                                    <p class="font-ram font-size-16 text-black-50">
                                        I am a professional Web Developer and Web Designer. I have worked for many clients.
                                        I have mentioned my work in Portfolio section
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 mb-4 text-center">
                                <div class="panel border p-4">
                                    <span class="icon text-secondary"><i class="far fa-lightbulb fa-3x"></i></span>
                                    <h4 class="font-ram py-4">Development</h4>
                                    <p class="font-ram font-size-16 text-black-50">
                                        As i have described my skills in skill section. I am godd in Artificial Intelligence and Deep Learning.
                                        I have developed some web applications based on artificial Intelligence which are realy helpful these days.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 mb-4 text-center">
                                <div class="panel border p-4">
                                    <span class="icon text-secondary"><i class="fas fa-camera fa-3x"></i></span>
                                    <h4 class="font-ram py-4">Photo Editing</h4>
                                    <p class="font-ram font-size-16 text-black-50">
                                        I have done photo editing as well. There are a lot of requirement of best photos during web developement
                                        and for that purpose I have learned photo editing.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 mb-4 text-center">
                                <div class="panel border p-4">
                                    <span class="icon text-secondary"><i class="fas fa-chart-line fa-3x"></i></span>
                                    <h4 class="font-ram py-4">Data Analysis</h4>
                                    <p class="font-ram font-size-16 text-black-50">
                                        I am certified in Data Science from University of Michigan. I am good in Data Analysis and Data Visualization.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 mb-4 text-center">
                                <div class="panel border p-4">
                                    <span class="icon text-secondary"><i class="fas fa-mobile-alt fa-3x"></i></span>
                                    <h4 class="font-ram py-4">Programming</h4>
                                    <p class="font-ram font-size-16 text-black-50">
                                        I am a good Programmar and i have solved many proramming problems on different sites like Hackerrank, CodeChef, HackerEarth etc.
                                        And i am awarded with gold badge in problem solving skills.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 mb-4 text-center">
                                <div class="panel border p-4">
                                    <span class="icon text-secondary"><i class="fas fa-directions fa-3x"></i></span>
                                    <h4 class="font-ram py-4">Project Management</h4>
                                    <p class="font-ram font-size-16 text-black-50">
                                         I am good in Project Management. I have attended so many hackathones and workshops. And i have great quality of
                                          Management of Projects.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                <!-- #services -->


                <!-- work -->
                    <section class="work py-5 px-4 bg-light" id="portfolio">
                        <div class="py-3">
                            <h5 class="text-uppercase font-os font-size-16 text-muted">Porfolio</h5>
                            <h1 class="text-uppercase font-staat font-size-34">Creative Work</h1>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 pb-4">
                                <img src="static/images/11.jpg" alt="work1" class="img-fluid" style="width:100%;height:100%;">
                            </div>
                            <div class="col-sm-4 pb-4">
                                <img src="static/images/22.jpg" alt="work1" class="img-fluid" style="width:100%;height:100%;">
                            </div>
                            <div class="col-sm-4 pb-4">
                                <img src="static/images/33.jpg" alt="work1" class="img-fluid" style="width:100%;height:100%;">
                            </div>
                            <div class="col-sm-4 pb-4">
                                <img src="static/images/44.png" alt="work1" class="img-fluid" style="width:100%;height:100%;">
                            </div>
                            <div class="col-sm-4 pb-4">
                                <img src="static/images/55.jpg" alt="work1" class="img-fluid" style="width:100%;height:100%;">
                            </div>
                            <div class="col-sm-4 pb-4">
                                <img src="static/images/66.jpg" alt="work1" class="img-fluid" style="width:100%;height:100%;">
                            </div>
                        </div>
                    </section>
                <!-- #work -->



                <footer id="footer" class="pt-5 px-3">
                    <div id="contact_us">

                        <div class="row  py-5">
                            <div class="col-sm-4 my-5 text-center">
                                <h6 class="font-ram font-size-16 text-black-50">&copy;2020 Vaibhav Singh. All rights reserved</h6>
                            </div>
                            <div class="col-sm-4 my-4 text-center">
                                <div class="footer-title">
                                    <a href="#" class="navbar-brand font-staat font-size-40 text-dark">VASI</a>
                                    <p class="description font-os font-size-16 text-black-50 text-uppercase">Vaibhav Singh</p>
                                </div>
                            </div>
                            <div class="col-sm-4 my-5 text-center">
                                <span class="mr-3"><i class="fab fa-facebook-f"></i></span>
                                <span class="mr-3"><i class="fab fa-twitter"></i></span>
                                <span class="mr-3"><i class="fab fa-instagram"></i></span>
                                <span class="mr-3"><i class="fab fa-youtube"></i></span>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </main>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>

<script src="static/vendor/typed/typed.min.js"></script>

<script src="static/index.js"></script>
</body>
</html>
